.art-card {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 25px;

}

.ant-card-body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  text-align: left;
  border-radius: 0px 0px 8px 8px;
}

.ant-card-meta-title {
  font-weight: 600;
  padding: 24px 24px 0 24px;
  min-height: 55px;
  text-align: center;
}



.ant-card-meta {
  width: 100%;
}

.ant-image {
  display: block;
}

.small {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

