body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #303030;
  color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-left: -16px;
}

.my-masonry-grid_column {
  padding-left: 16px; /* gutter size */
  background-clip: padding-box;
}

.showroom-section {
  position: absolute;
  text-align: center;
  top: 350px;
  text-shadow: 2px 2px 0 #201414aa, 3px 3px 0 #ffffff50, -1px -1px 0 #ffffff50;
  font-family: pixelFont;
  color: #251717;
  font-size: 33px;
  z-index: 5;
  width: 100vw;
  margin-left: 0vw;
  padding-bottom: 50px;
}

